@use "styles/tokens" as tokens;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: tokens.$color-canvas;
  color: tokens.$color-text;
  font-family: tokens.$font-family-body;
}

// Global Styles

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    width: 100%;

    &.hero {
      max-width: tokens.$max-width-content;
      height: 80vh;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: start;
      justify-content: center;
    }
  }
}

// Local styles

span.pill {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border: 2px solid tokens.$color-text;
  border-radius: tokens.radius(full);
  display: inline-flex;
  align-items: baseline;
  vertical-align: baseline;

  div.avatar {
    width: 5.625rem;
    aspect-ratio: 1 / 1;
    border-radius: tokens.radius(full);
    background-color: tokens.$color-accent;
    margin-right: 1rem;
    position: relative;
    top: 0.5rem;
  }
}
