// Colors
// ------
// canvas   – page background
// surface  – card / panel background
// border   – dividers and outlines

// Base colors

$color-dark: #141412;
$color-mid: #201E1E;
$color-light: #f4f0eb;

// UI colors

$color-canvas: $color-dark;
$color-surface: rgba($color-light, 0.02);
$color-text: $color-light;
$color-text-muted: rgba($color-text, 0.5);

$color-accent: #ff7300;
