@use "sass:map";

// Spacing, Sizes & Layout
// ----------------

// Layout

$max-width: (
  slim: 500px,
  content: 980px,   // body text / articles
  wide: 1080px,     // wide sections
  full: 2000px,     // full-bleed wrapper cap
);

@function max-width($size) {
  @return map.get($max-width, $size);
}

.stack {
  display: flex;

  &--h {
    flex-direction: row;
  }

  &--v {
    flex-direction: column;
  }
}

$gap: (
  none: 0,
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 24px,
  2xl: 48px,
  3xl: 80px,
  4xl: 112px,
);

@function gap($size) {
  @return map.get($gap, $size);
}

@each $name, $value in $gap {
  .gap--#{$name} {
    gap: $value;
  }
}

// Border radius

$border-radius: (
  none: 0,
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 24px,
  2xl: 48px,
  3xl: 80px,
  full: 9999px,
);

@function radius($size) {
  @return map.get($border-radius, $size);
}
