@use "colors" as colors;
@use "layout" as layout;

// Typography
// ----------

$font-family-display: "Instrument Serif", serif;
$font-family-head:    "Libertinus Serif", serif;
$font-family-body:    "Figtree", sans-serif;

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $font-family-display;
  font-size: 6.5rem;
  line-height: 1;
  letter-spacing: -3px;
  font-weight: 400;
  font-style: normal;

  @include layout.below(md) {
    font-size: 4rem;
  }

}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-head;
  font-weight: 400;
}

h2 {
  font-size: 2.75rem;
  line-height: 1;
  letter-spacing: -3%;
  font-style: normal;
}

// Display class
// Applied to large hero text for custom selection styling

.display {
  user-select: none;
  &::selection,
  & *::selection {
    background-color: transparent;
  }
}


// Regular text stylings

p, ul, li{
  font-family: $font-family-body;
  line-height: 1.45;
  font-size: 1.25rem;

  &.lead{
    font-size: 1.25rem;
  }
}
