---
import "./About.scss";
import Button from "@components/Button/Button.astro";
import { Image } from "astro:assets";
import { ArrowUpRight } from "@lucide/astro";
import me from "../../assets/me.png";
import scribble from "../../assets/scribble.svg?raw";
---

<section>
  <div class="inner about">
    <div class="stack stack--h gap--4xl">
      <div class="about__photo">
        <Image src={me} alt="Picture of me. hello!" />
        <span class="svg--scribble" set:html={scribble} data-animate-scroll />
      </div>
      <div class="copy stack stack--v">
        <h2 class="display" data-animate-scroll style="--delay: 0">
          Hey. I'm Markus. <br /> Nice to meet you.
        </h2>
        <p class="lead" data-animate-scroll style="--delay: 1">
          Born and raised in Hamburg, Germany. <br />
          I'm a builder, designer, tech enthusiast that believes he can also do some
          code.
          <br /><br />
          I fell in love with digital at 12, building my first websites in
          dreamweaver and learning about css hacks on youtube and vimeo.
          <br /><br />
          that feeling of creating things and showing it to the world stuck with me until today.
        </p>
        <div
          class="buttons stack stack--h gap--lg"
          data-animate-scroll
          style="--delay: 2"
        >
          <Button
            href="mailto:hey@markus.design"
            title="Get in touch"
            size="large"
            variant="ghost"
          />
          <Button
            href="https://www.linkedin.com/in/markuskammin/"
            title="LinkedIn"
            size="large"
            variant="ghost"
            icon={ArrowUpRight}
          />
        </div>
      </div>
    </div>
  </div>
</section>
