---
import "./Navigation.scss";
import Button from "@components/Button/Button.astro";
import { ArrowUpRight } from "@lucide/astro";

const showNotes = false;
const showCV    = true;
---

<nav class="nav">
  <div class="inner">
    <ul class="nav__links">
      <li>
        <Button href="/" title="Home" size="compact" variant="ghost" />
      </li>
      {showNotes && (
        <li>
          <Button href="/notes" title="Notes" size="compact" variant="ghost" />
        </li>
      )}
      {showCV && (
        <li>
          <Button
            href="#"
            title="CV"
            size="compact"
            variant="ghost"
            icon={ArrowUpRight}
          />
        </li>
      )}
    </ul>
    <Button
      href="mailto:hey@markus.design"
      title="hey@markus.design"
      size="compact"
    />
  </div>
</nav>
