---
import "./Navigation.scss";
import Button from "@components/Button/Button.astro";
import { ArrowUpRight } from "@lucide/astro";

const showNotes = true;
const showCV    = true;
---

<nav class="nav">
  <div class="inner">
    <ul class="nav__links">
      <li>
        <Button href="/" title="Home" size="compact" variant="ghost" />
      </li>
      {showNotes && (
        <li>
          <Button href="/notes" title="Notes" size="compact" variant="ghost" />
        </li>
      )}
      {showCV && (
        <li>
          <Button
            href="https://drive.google.com/file/d/1M9tVn5dJqL9ZdZsqwBUC2zS8bFn3vvTq/view"
            title="CV"
            size="compact"
            variant="ghost"
            icon={ArrowUpRight}
          />
        </li>
      )}
    </ul>
    <div class="nav__email">
      <Button
        href="mailto:hey@markus.design"
        title="Get in touch"
        size="large"
        style="padding: 0 1.5rem;"
      />
    </div>
  </div>
</nav>
