---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Imprint">
  <!-- Hero -->
  <section>
    <div class="inner inner--hero inner--hero--small">
      <h1 class="display" data-animate style="--delay: 0">Imprint.</h1>
    </div>
  </section>

  <!-- Content -->
  <section>
    <div class="inner inner--imprint" data-animate style="--delay: 1">
      <div class="imprint__body stack stack--v gap--xl">
        <div class="imprint__block">
          <p class="imprint__label">
            Information according to § 5 DDG (Digital Services Act)
          </p>
          <p>Markus Kammin <br />Brillkamp 26a 22339 Hamburg <br />Germany</p>
        </div>

        <div class="imprint__block">
          <p class="imprint__label">Contact</p>
          <p><a href="mailto:hey@markus.design">hey@markus.design</a></p>
        </div>

        <div class="imprint__block">
          <p class="imprint__label">
            ‍Responsible for content according to § 18 Abs. 2 MStV
          </p>
          <p>
            <p>Markus Kammin <br />Brillkamp 26a 22339 Hamburg <br />Germany</p>
          </p>
        </div>

        <div class="imprint__block">
          <p class="imprint__label">Disclaimer</p>
          <p>
            Despite careful content control, I assume no liability for the
            content of external links. The operators of linked pages are solely
            responsible for their content.
          </p>
        </div>

        <div class="imprint__block">
          <p class="imprint__label">‍Accessibility notice</p>
          <p>
            As a private, non-public website, this site is not subject to
            mandatory accessibility requirements. Nevertheless, I strive to make
            my website as user-friendly and accessible as possible.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
