---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button/Button.astro";
import { ArrowUpRight } from "@lucide/astro";
---

<BaseLayout title="Markus Kammin">
  <section>
    <div class="inner hero">
      <h1>
        I am <span class="pill"><div class="avatar"></div>Markus</span><br>
        Design leader shaping<br>how design culture<br>thrives at scale.
      </h1>
      <Button href="https://www.haiilo.com" title="head of ux at haiilo" icon={ArrowUpRight} />
    </div>
  </section>
</BaseLayout>
