---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Notes">
  <section>
    <div class="inner hero" data-animate style="--delay: 0">
      <h1>Notes</h1>
    </div>
  </section>
</BaseLayout>
