@use "styles/tokens" as tokens;

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__copy {
    font-family: tokens.$font-family-body;
    font-size: 0.875rem;
    color: tokens.$color-text;
    opacity: 0.4;
  }
}
